a{
    text-decoration: none;
    color: #000;
}

.gallery-item{
    list-style-type: none;
    border: 1px solid #000;
    max-width: 440px;
    width: 100%;
}


.gallery-image{
    max-width: 440px;
    width: 100%;
    max-height: 293px;
    height: 100%;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.form-input{
    width: 320px;
    height: 22px;
}

.search-button{
    height: 28px;
    width: 120px;
}

.resultContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 12px;
    justify-content: center;
}

.cont-in-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-descr{
    display: flex;
    margin: 0;
    padding: 5px;
    justify-content: space-around;
}

.icon-in-block{
    margin: 0 auto;
}
.loader {
    width: 32px;
    height: 32px;
    border: 5px solid #FFF;
    border-bottom-color: #000;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.loading{
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.is-hidden{
    display: none;
}